@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Добро пожаловать</h1>
    <div class="container conteiner__btn">
        <a class="btn btn-link " asp-action="CreateChat" asp-controller="Chat">Создать чат</a>
        <a class="btn btn-link"  asp-action="SelectChat" asp-controller="Chat">Войти в чат</a>
    </div>
</div>
