<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ChatWithBotWeb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    
    <div class="container">
        <div class="navbar navbar-invers navbar-dark bg-light" role="navigation">
            <a class="nav-link " href=@Url.Action("Index","Home")>Chat</a>
            <a class="nav-link " href=@Url.Action("CreateChat","Chat")>Создать чат </a>
            <a class="nav-link " href=@Url.Action("SelectChat","Chat")>Список чатов</a>
            <a class="btn btn-info" href=@Url.Action("Logut","Account")>Выход</a>
            

        </div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
