@model List<Message>
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div>
    <div class="container container_mes">
        @foreach (var mes in Model)
        {
            <div class="item_mes">
                @mes.MessageId
                <span class="name_user">@mes.User.Name</span>
                @mes.dateTime
                @mes.Content
            </div>
        }
    </div>
    <form asp-action="" asp-controller="">
        <input  type="text" placeholder="Введите сообщение" class="input-group-text w-100" />
        <button type="submit" class="btn btn-primary  mt-4">Отправить</button>
    </form>
</div>