@model Chat
<div class="text-center mt-3">
    <div class="text-danger" asp-validation-summary="All"></div>

    <form asp-action="CreateChat" asp-controller="Chat" method="post">

        <div class="form-group">
            <label for="NameChat"> Укажите названия чата</label>
            <input asp-for="Name" type="text" class="form-control" id="NameChat" />
            <span asp-validation-for="Name"></span>
            <div class="container conteiner__btn">
                <button class="btn btn-primary mb-3 mt-3">Создать чат </button>
            </div>
        </div>
    </form>

</div>